*{
    padding: 0%;
    margin: 0%;
    font-family: 'Courgette', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif;
}

/* Header */
nav {
    background-color: #000;
    background-image: url("https://www.grindstore.com/cdn/shop/collections/category-rick-and-morty-20170621a_89055090-3ec3-42ac-af1e-eed5dcc843b1.jpg?v=1690214078&width=1200");
    background-size: 1200px 160px;
    background-repeat: no-repeat;
    background-position: left;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
        
ul {
    display: flex;
}

li {
    list-style: none;
    padding: 10px;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
   
}

li:hover{
    color: #48ac15;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-5px);
    transform: scale(1.1);
    text-decoration-line: underline;
    text-decoration-color: #28afca;

}

/* Menu */
body{
    background-color: #dfdede
  
}

.cantidadPersonajes {
    color: #000;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;

}

#raiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    box-shadow: -1px 3px 23px -1px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 3px 23px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 3px 23px -1px rgba(0,0,0,0.6);
    transition-duration: 0.8s;
}

.card-image {
    overflow: hidden;
}

.card-image:hover img {
    transform: scale(1.3);
    transition-duration: 0.8s;
    filter: grayscale(90%);
}

.card-content {
    height: 160px;
    color: #000;
}

.card .card-action:last-child {
    border-radius: 0 0 2px 2px;
}
.card .card-action {
    background-color: inherit;
    border-top: 1px solid rgba(42, 112, 23, 0.2);
    position: relative;
    padding: 16px 24px;
}

.card-action a{
    text-decoration: none;
    color: #28afca;
}

.fondo {
    display: flex;
    justify-content: center;
}

img.rick {
    width: 220px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

button{
    background-color: #5ad81d  ;
    margin: 5px;
    padding: 10px;
    color: #fff ;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    width: 40px; 
} 

button:hover {
    color: #000; 
    cursor: pointer;
    background-color: #28afca; 
}

button:disabled {
    color: #000;
    border-color: #000;
    background-color: #777777; 
}
  
.container-paginador {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    color: #000;
    font-weight: bold;
}

/* Footer */
footer {
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #000;
}

footer p {
    color: #f9f9f9;
    transition: color 0.3s ease;
    font-size: 22px;
    -webkit-text-stroke: 1px ;
}

/* Responsive */
@media (max-width: 600px){
    nav{
        display: flex;
        background-size: 100% 150px;   
        background-size: 100% 100px;
        background-position: top;
        flex-direction: column;
        justify-content: flex-end;
    }
}

